
 <footer class="footer mt-4 footer-light bg-light fixed-bottom ">
    <!-- Footer info -->
    <section class="footer-inner">
      <div class="row">
        <div class="col-md-12 icons text-center">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
      <section class="contact-info">
        <div class="row">
          <div class="col-md-12 logo text-center">
            <div class="footer-info">
              <div id="footer-line" itemprop="adress">
                <span itemprop="StreetAdress">Minörgatan 17,</span>
                <span itemprop="Postalcode"> 213 10</span>
                <span itemprop="Adresslocality">Malmö, Sweden</span>
              </div>
              <div  id="footer-line" itemprop="Mail">
                <span itemprop="Email">MAIL@GRUPP5.SE</span>
              </div>
              <div id="footer-line" itemprop="Phone">
                <span itemprop="Telephone">070 - 23 89 11</span>
              </div>
            </div>
               <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright: Grupp 5
            </div>
          </div>
        </div>
      </section>
    </section>
  </footer>