<footer class="footer mt-4 footer-light">
  <!-- Footer info -->
  <section class="footer-inner">
    <div class="col-md-12 icons text-center">
      <a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
      <a href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
      <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
    </div>
    </div>
    <section class="contact-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 logo text-center">
            <div class="footer-info" itemscope itemtype="#">
              <div id="footer-line" itemprop="adress">
                <span itemprop="StreetAdress">Minörgatan 17,</span>
                <span itemprop="Postalcode"> 213 10</span>
                <span itemprop="Adresslocality">Malmö, Sweden</span>
              </div>

            </div>
            <div id="footer-line" itemprop="Mail">
              <span itemprop="Email">MAIL@GRUPP5.SE</span>
            </div>
            <div id="footer-line" itemprop="Phone">
              <span itemprop="Telephone">070 - 23 89 11</span>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright: Grupp 5</div>
          </div>
        </div>
      </div>
    </section>
  </section>
  </section>
</footer>