<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-3 mb-4">${this.name}</h1>
      <h4 class="mt-2 mb-2">Reglerna är enkla!</h4>
      <p>
        Fyra i rad är väldigt enkelt att förstå sig på. Det står ju faktiskt i namnet hur man vinner. För att vinna
        fyra i rad, så måste du se till att fyra stycken av dina färgade brickor är anslutna tillsammans, ungefär
        detsamma som i luffarschack. Det kan åstadkommas genom att föra samman brickorna antingen horisontellt,
        vertikalt eller diagonalt. Varje spelare kommer släppa ned en bricka åt gången. Det här ger dig chansen att
        bygga din rad, eller försöka stoppa motståndarens att få fyra i rad.
      </p>

      <p>
        Spelet är över när du eller din kompis har lyckats få fyra i rad, eller när alla fyrtiotvå luckorna är fyllda,
        då blir det lika mellan spelarna. Om du och din kompis väljer att spela igen så är det oftast förloraren som
        börjar.
      </p>

      <p>
        Reglerna är lätta att lära sig, men svåra att bemästra. Det är skönheten med fyra i rad. Nu när du vet reglerna
        så är det bara att utmana alla du känner. Det spelar ingen roll hur gamla eller hur duktiga de är, alla kan
        spela.
      </p>
    </div>
    <div class="col-md-6">
      <img class="mt-4 " src="/img/regler.png" alt="image showing rules">
      <img class="mt-4 " src="/img/connect-four.gif" alt="image showing rules">
    </div>
  </div>
</div>
