<section class="startpage">
  <!-- Match height for estetics, remove h-100 on children for auto-heights-->
  <div class="row">

    <div class="col-md-7 mb-2">
      <div class="jumbotron bg-dark text-light introduction-box h-100">
        <h1 class="display-4 mb-3">Välkommen!</h1>
        <h4>Spela det klassiska spelet 4 i rad online!</h4>
        <p>Ta en tur tillbaka till barndomsminnet fyra i rad. Spela med en vän för att se vem som bjuder på lunch idag.</p>
        <hr>
        <h4>Har du inga vänner?</h4>
        <p>Inga problem! Spela mot datorn och se om du kan överlista en CPU.<br>Den enda nackdelen är att du bjuder på
          lunch varje gång. Men med allt ont, kommer något gott. Du behöver bara betala för dig själv. Maskiner äter
          inte mat.</p>
        <p class="font-italic">Inte än i alla fall.....</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg btn-block" href="/spela" role="button">Spela nu direkt</a>
      </div>
    </div>

    <div class="col-md-5 mb-2 text-center bannertron">
      <div class="jumbotron h-100">
        <div>
          <h2 class="mt-4 display-4">Osäker på hur?</h2>
          <p class="lead mt-5"><span class="font-weight-bold">Fear not!</span> Du kan läsa på om reglerna innan du
            börjar spela. Se alla regler <a href="/spelregler">här</a>.</p>
        </div>
      </div>
    </div>

  </div>
  <!-- eof row -->


  <div class="row text-center mb-3 mt-2 othergames">
    <div class="col-12">
      <h2>Andra spel online</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-12">
      <div class="card-deck text-center">

        <div class="card">
          <a href="http://www.agame.com/game/4-in-a-row" target="_blank">
            <img class="card-img-top" src="/img/startpage/link1.jpg" alt="Card image cap">
            <div class="card-body bg-dark text-light">
              <h5 class="card-title font-weight-bold">Agame.com</h5>
              <p class="card-text">Prova detta snygga och stilrena spel. Spela mot en bot eller mot en kompis.
                Plusbetyg för snyggt spelbräde!</p>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://papergames.io/en/connect4" target="_blank">
            <img class="card-img-top" src="/img/startpage/link2.jpg" alt="Card image cap">
            <div class="card-body bg-dark text-light">
              <h5 class="card-title font-weight-bold">Papergames.io</h5>
              <p class="card-text">Inriktad på person vs person. Om du saknar någon att spela med kommer deras bot,
                Paperman, till räddningen.</p>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="https://grrd01.github.io/4inaRow/?lang=en" target="_blank">
            <img class="card-img-top" src="/img/startpage/link3.jpg" alt="Card image cap">
            <div class="card-body bg-dark text-light">
              <h5 class="card-title font-weight-bold">Grrd01</h5>
              <p class="card-text">Söta animationer med ljud och helskärm. Spela online, mot en vän eller mot bot.
                Möjlighet att ställa in svårighetsgrad!</p>
            </div>
          </a>
        </div>
      </div>
      <!-- eof carddeck -->

    </div>
  </div>
  <!-- eof row -->
</section>