<section class="call-outs-container">
    <div class="row">
        <h1 class="display-3 mb-4">${this.name}</h1>

      <table class="call-out">
        
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Namn</th>
            <th scope="col">Efternamn</th>
            <th scope="col">Högst Poäng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>

          <tr>
              <th scope="row">4</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
</section> 




