<div class="thumb">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="p-3 border introduction-box h-100">
          <h1>${this.name}</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NAMN</th>
                <th scope="col">EFTERNAMN</th>
                <th scope="col">POÄNG</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th scope="row">1</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>21</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>16</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>12</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>8</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <div class="col-md-6 mb-2">
      <div class="jumbotron bg-dark text-light introduction-box h-100">
        <h1>Högst poäng!</h1>
        
        
        <hr>
        <p>Man för högst poäng 21 om man vinner med fyra drag max poäng är 21   </p>
        <a class="btn btn-success btn-lg btn-block" href="/spela" role="button">Spela igen</a>
      </div>
    </div>

  </div>
</div>

thead-dark