<div class="thumb">
  <div class="row">
    <div class="col-md-6 mb-2">
      <div class="p-3 border introduction-box h-100">
        <h1>${this.name}</h1>
        ${this.topplistaPageBoard}
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="jumbotron bg-dark text-light introduction-box h-100">
        <h1>Högst poäng!</h1>
        <hr>
        <p>Man får 4 poäng om man vinner med 4 drag och sämsta poäng är 21</p>
        <a class="btn btn-success btn-lg btn-block" href="/spela" role="button">Spela igen</a>
      </div>
    </div>
  </div>
</div>