.board-border:after {
  content: " ";
  padding-bottom: 100%;
  display: block;
  border: #000;
}

.column {
  width: 14.28%;
  float: left;
}

.cell {
  width: 100%;
  padding-top: 100%;
  border: 2px solid rgb(180, 157, 157);
  background-image: url("/img/1.jpg");
  box-shadow: 0 0 10px #000;
  position: relative;
}

.cell>div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 2px solid rgb(195, 35, 35);
  border-radius: 50%;
}

.nochip {
  background-color: #eee;
}

.testchip{
  background-color: #eb0069;
}

// #### WHEN DONE UNDERSTANDING HOW: remove this class and the span containing the cellNum in Cell.html 
.numForDevs{
  position: relative;
  top: -60px;
  left: 50%;
  z-index: 30000;
}