.board-border:after {
  // content: " ";
  padding-bottom: 100%;
  display: block;
  border: #000;
}

.board-border {
  .column {
    width: calc(100%/7);
    float: left;
  }
  .cell {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  .cell>div {
    position: absolute;
    top: 6%;
    left: 6%;
    width: 84%;
    height: 84%;
    border: 1px solid #d1f3ff;
    box-shadow: 0 0 10px #01d3ff;
    border-radius: 50%;
  }
  .nochip {
    background-color: #eee;
  }
  .chip0 {
    background-color: #dc3545;
  }
  .chip1 {
    background-color: #ffc107;
  }
}