body >div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.fa {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.fa:hover {
  opacity: 0.7;
}