.navbar {
  margin-top: 1rem;
  padding: 0;
 
  }
  .navbar-brand{
    font-size: 30px;
    padding: 0;
    margin-right: 0;
    @include media-breakpoint-only(lg) {
      margin-left: 140px;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
    @include media-breakpoint-only(xs) {
      display:none;
    }
    :nth-child(){
     margin: 0;
    }
  }

.logoimg {
  width: 45px;
  height:45px;
 }

.nav-item{
  $font-stack:'Karla';
  font-size: 1.4rem;
}