.navbar {
  margin-top: 1rem;
  padding: 0;

  .nav-item {
    padding-inline-start: 1rem;
    }
  .navbar-brand {
    font-size: 34px;
    padding: 0;
    margin-right: 0;
  }

.logoimg {
  width: 45px;
  height:45px;
 }
}

