.regler-page{
  background: #ffdf79;
  padding: 20px;
  box-shadow: 0 1px 2px #222;
  border-radius: 5px;
  .boarder{
      background: #000000a3;
      padding: 10px;
      border-radius: 5px;
  }
  
  @media screen and (max-width: 1000px) {
    .move-img{
      padding-top: 150px;
      }
  }
  @media screen and (max-width: 1000px) {
    .move-top-img{
      padding-top: 55px;
      }
  }
    @media screen and (max-width: 765px) {
    .hide-img{
    display: none;
    }
  }
}